
<div class="col-md-3 left_col">

 <div class="left_col scroll-view">

   <div class="navbar nav_title" style="border: 0;">
     <img class="img-rounded" src="/logo/logo.png" style="max-height: 100%; max-width: 50%" alt="Coway">
   </div>

   <div class="clearfix"></div>

   <!-- menu profile quick info -->
   <div class="profile clearfix">
     <div class="profile_pic">
       img(
         src=profile_pic
         class='img-circle profile_img'
       )
     </div>
     <div class="profile_info">
       <span>Welcome,</span>
       h2= name
     </div>
   </div>
   <!-- /menu profile quick info -->

   <br />

   <!-- sidebar menu -->
   <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
     <div class="menu_section">
       <ul class="nav side-menu">
         <li><a><i class="fas fa-briefcase-medical fa-lg"></i> <span class="sub_menu">Manage Healthy Tips</span> <span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
             <li><a href="/adminer/healthy-tip">Healthy Tip List</a></li>
             <li><a href="/adminer/add-healthy-tip">Add Healthy Tip</a></li>
           </ul>
         </li>

         <li><a><i class="fas fa-briefcase-medical fa-lg"></i> <span class="sub_menu">Manage Product</span> <span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
             <li><a href="/adminer/product">Product List</a></li>
             <li><a href="/adminer/add-product">Add Product</a></li>
           </ul>
         </li>

          <li><a><i class="fas fa-briefcase-medical fa-lg"></i> <span class="sub_menu">Preference</span> <span class="fa fa-chevron-down"></span></a>
           <ul class="nav child_menu">
             <li><a href="/adminer/app-param">App Param</a></li>
             <li><a href="/adminer/add-app-param">Add App Param</a></li>
             <li><a href="/adminer/mt-param">Mt Param</a></li>
           </ul>
         </li>

       </ul>
     </div>
   </div>
   <!-- /sidebar menu -->

 </div>
 
</div>

<!-- others plugins -->
<script src="../web-js/left-navigation.js"></script>
