<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">

<link rel="icon" href="img/icon-logo.png" type="image/png">
<link href="vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="vendors/fontawesome/css/all.min.css" rel="stylesheet">
<link href="vendors/themify-icons/themify-icons.css" rel="stylesheet">
<link href="vendors/linericon/style.css" rel="stylesheet">
<link href="vendors/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
<link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
<link href="vendors/nice-select/nice-select.css" rel="stylesheet">
<link href="vendors/nouislider/nouislider.min.css" rel="stylesheet">
<link href="vendors/lightbox-master/dist/ekko-lightbox.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">

script(type='text/javascript').
    var selected_tab =!{JSON.stringify(selected_tab)}
    var jsonFile =!{JSON.stringify(getJsonFile)}
    var order_id =!{JSON.stringify(order_id)}