.ekko-lightbox-nav-overlay{
    opacity: 1 !important;
    height: auto !important;
    bottom: 0;  
}

.ekko-lightbox-nav-overlay a{
    opacity: 1 !important;
    width: auto !important;
    text-shadow: none !important;
    color: #3B3B3B;
}

.ekko-lightbox-nav-overlay a:hover{
    color: #20507D;
}